body{
    font-family: 'Ubuntu', sans-serif;
    /*border: 5px solid black;*/
    margin: 0;
    height:1800px ;
}

/*Estilos del header*/

header{
    /*border: 1px solid red;*/
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .perfil {

    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
 .perfil img{
   
    width: 300px;
    height: 300px;
    border-radius: 50%;

}

header .date{    
    width: 550px;
    height: 300px;
}
.date h1{
    
    font-size: 70px;
    padding-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.date h2{
    text-decoration: none;
    font-size: 40px;
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom:5px;

}

.date h3{
    
    font-size: 30px;
    padding-left: 30px;
}

/*-----Fin Header-----*/

/*Estilos para main*/
main{
    display: grid;
    grid-template-columns: 40% 60%;
    flex-wrap: wrap;
}
/*Estilos para la seccion de contacto redes sociales*/
.contacto-continer{
    width: 400px;
    height: 250px;
}
.contacto-continer ul{
    margin-top: 40px;
    padding: 0;
    list-style: none;
    height: 300px;
    margin-left: 30px;
}
/*tamaño del contenedor*/
.mail, .phone, .location, .linkedin, .twitter{
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 20px;  
    margin-top: 10px; 
}
.mail img, .phone img, .location img, .linkedin img, .twitter img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    display: flex;
    cursor: pointer;
   
}
.mail a, .phone a, .location a, .linkedin a, .twitter a{
    font-size: 18px;
    text-decoration: none;
    display: flex;
    
}

/*QUIEN SOY*/
.description{
    margin-left: 30px;
    width: auto;
    height: 400px;
}
.description h2{
    
    margin: 0px;
    width: auto;
    height: 70px;
    padding-left: 20px;
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.description_summary{
    
    margin: 0;
    margin-right: 55px;
    margin-bottom: 40px;
    max-width: 400px;
    height: 280px;
    font-size: 24px;
    padding-left: 20px;
}

/*PROGRAMAS*/
/*Titulo*/
.software{
    width: 300px;
    height: 320px;
    /*margin-right: 60px;*/
    margin-left: 30px;
}

.software h2{
    font-size: 30px;
    margin: 0;
    width: 300px;
    height: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    text-decoration: underline;
}
.software ul{
    
    padding: 0;
    list-style: none;
    height: 250px;
    width: 250px;
}
.software ul li .soft1, .soft2, .soft3, .soft4, .soft5, .soft6{
    width: 310px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin: 0;
}
.software ul h3{
    margin: 0;
    font-size: 20px;
}


.soft1 img, .soft2 img, .soft3 img, .soft4 img, .soft5 img, .soft6 img{
    width: 20px;
    height: 20px;
    padding-right: 8px;
    
   
}
.soft1 div,.soft2 div,.soft3 div,.soft4 div,.soft5 div,.soft6 div{
    margin: 0;
    margin-right: 0px;
    width: 155px;
}

/*Estilos Referencias*/
.ref{
    width:400px;
    height: 200px;
    margin:0;
    margin-left: 30px;
}

.ref ul{
    margin-top: 20px;
    padding: 0;
    list-style: none;
    height: 80px;
    margin: 0;
    display: block;
    
}
.ref ul li{
    display: flex;
    justify-content: center;
}

.ref-lang1, .ref-lang2{
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 20px;  
    margin-top: 10px; 
    
}

.ref-lang1 img, .ref-lang2 img {
   width: 15px; 
   height: 15px;
   display: flex;
}
.ref-lang1 h3, .ref-lang2 h3{
    font-size: 20px;
    display: flex;
    margin-left: 15px;
}

.ref h2{
    margin: 0;
    padding-left: 20px;
    align-items: center;
    width: 380px;
    height: 70px;
    display: flex;
    margin-bottom: 20px;
    font-size: 30px;
    text-decoration: underline;
}

/*Division seccion de experiencia
*/
.expert-one, .expert-two, .expert-three{
    display: grid;
    grid-template-columns: 30% 60%;
}
.tittle{
    width: 390px;
    height: 70px;
    margin: 0px;
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
/*Tamaño del grid dividido en 2, 30% y 60% en los tres contenedores*/
.container-expert .expert-one{
    width: 600px;
    height: auto;
    margin-bottom: 40px;
}

.container-expert .expert-two {
    width: 600px;
    height: auto;
    margin-bottom: 40px;
}
.container-expert .expert-three {
    width: 600px;
    height: auto;
    margin-bottom: 40px;
}
/*tamaño de lo que hay dentro del contenedor y su ubicación*/
.container-expert .expert-one .date{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: #C6C6C6;
    font-size: 20px;
    
}
/*se le quito la margen a los lados y agrego individual*/
.expert-one .date p{
    margin: 0;
    margin-top:5px;
}
/*arreglo de cada uno de los titulos*/
.container-expert .expert-one .business{
    width:100%;
    height: auto;
    margin-left: 10px;
}
.container-expert .expert-one .business h2{
    width: 100%;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}
.container-expert .expert-one .business h3{
    width:100%;
    height: 30px;
    margin:0;
    display:flex;
    align-items: center;
    color: #C6C6C6;
    font-size: 20px;
}

.container-expert .expert-one .business h4{
    width:100%;
    height: 30px;
    margin:0;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.container-expert .expert-one .business p{
   margin: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
}

/*Segunda referencia*/


.container-expert .expert-two .date{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: #C6C6C6;
    font-size: 20px;
    
}
.expert-two .date p{
    margin: 0;
    margin-top:5px;
}

.container-expert .expert-two .business{
    width:100%;
    height: auto;
    margin-left: 10px;
}
.container-expert .expert-two .business h2{
    width: 100%;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;

}
.container-expert .expert-two .business h3{
    width:100%;
    height: 50px;
    margin:0;
    display:flex;
    align-items: center;
    color: #C6C6C6;
    font-size: 20px;
}

.container-expert .expert-two .business h4{
    width:100%;
    height: 30px;
    margin:0;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.container-expert .expert-two .business p{
   margin: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
}

/*tercera referencia*/


.container-expert .expert-three .date{
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    color: #C6C6C6;
    font-size: 20px;
    
}
.expert-three .date p{
    margin: 0;
    margin-top:5px;
}

.container-expert .expert-three .business{
    width:100%;
    height: auto;
    margin-left: 10px;
}
.container-expert .expert-three .business h2{
    width: 100%;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    text-decoration: none;

}
.container-expert .expert-three .business h3{
    width:100%;
    height: 50px;
    margin:0;
    display:flex;
    align-items: center;
    color: #C6C6C6;
    font-size: 20px;
}

.container-expert .expert-three .business h4{
    width:100%;
    height: 30px;
    margin:0;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-bottom: 10px;
}
.container-expert .expert-three .business p{
   margin: 0;
    width: 100%;
    height: auto;
    font-size: 20px;
}

/*Educación
tratamiento de dos elementos*/

h2{
    margin-top: 40px;
    width: 500px;
    height: 40px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 30px;
    text-decoration: underline;
}

/*Division de seccion de educación*/


.education{
    display: grid;
    grid-template-rows: 50% 50%;
    width: 600px;
    height: auto;
   
}

.edu-one, .edu-two{
    display: flex;
    align-content: space-around;
    
}

.education .schedule{
    width: 150px;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin: 0;
}
.education .schedule h3{
    font-size: 18px;
    
}
.education .profession{
    width: 450px;
    height: auto;
    display: inline-block;
    margin-left: 30px;
}
.education .profession h2{
    width: 400px;
    height: 30px;
    margin:0;
    margin-top: 10px;
    font-size: 25px;
    text-decoration: none;
}
.education .profession h3{
    width: 400px;
    height: 20px;
    margin:0;
    font-size: 18px;
    text-decoration: none;
}

@media screen and (min-width:1024px){
    body{
        border:10px solid magenta;
    }

}
@media screen and (min-width:768px){
    body{
        
    }
    header .date{
        margin-left: 200px;
    }

    main{
        grid-template-columns: 80% 70%;
    }
    .mail, .phone, .location, .linkedin, .twitter {
        height: 45px;
    }

    .mail img, .phone img, .location img, .linkedin img, .twitter img {
        width: 35px;
        height: 35px;
        margin-right: 10px;
    }
    .mail a, .phone a, .location a, .linkedin a, .twitter a{
        font-size: 30px;
    }
    .description {
        height:360px;
    }
    .description h2{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    h2{
        margin-bottom: 30px;
    }
    .software{
        height: 330px;
    }
    .software ul li .soft1, .soft2, .soft3, .soft4, .soft5, .soft6 {
        width:390px;
        height: 40px;
    }
    .software ul h3 {
        font-size: 24px;
    }

    .soft1 div, .soft2 div, .soft3 div, .soft4 div, .soft5 div, .soft6 div{
        width: auto;
    }
    .ref-lang1 h3, .ref-lang2 h3 {
        font-size: 26px;
    }

    .container-expert .expert-one .business h4 {
        font-size: 20px;
    }
    .container-expert .expert-two .business h4 {
        font-size: 20px;
    }
    .container-expert .expert-three .business h4 {
        font-size: 20px;
    }

    .container-expert .expert-one .business p {
        font-size: 22px;
    }

    .container-expert .expert-two .business p {
        font-size: 22px;

    }
    
    .container-expert .expert-three .business p {
        font-size: 22px;

    }


}
@media screen and (max-width:480px){
    body{
        
    }
    .perfil{
        margin-right: 100px;
    }
    header .date{
        margin-left: 100px;
    }
    .contacto-continer{
        height: 270px;
    }
    .mail, .phone, .location, .linkedin, .twitter {
        display: flex;
        margin-top: 30px;
    }
    .mail img, .phone img, .location img, .linkedin img, .twitter img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }
    .mail a, .phone a, .location a, .linkedin a, .twitter a{
        font-size: 34px;
    }
    .description{
        margin-top: 40px;
        height: 380px;
        display: block;
    }
    .description h2{
        margin-bottom: 20px;
    }
    .description_summary{
        font-size: 24px;
        width: auto;
    }
    .software{
        height:350px;
    }
    .software h2{
        margin-bottom: 30px;
    }
    .software ul {
        margin: 0;
    }
    .software ul li .soft1, .soft2, .soft3, .soft4, .soft5, .soft6 {
        height: 40px;
    }

    main{
        grid-template-columns: 118% 130%;
    }
    /*Estilos MQ de Experiencia 1*/
    .container-expert .expert-one{
        width:560px
    }
    .expert-one, .expert-two, .expert-three{
        grid-template-columns: 30% 70%;
    }
    .container-expert .expert-one .date{
        font-size: 24px;
    }
    .container-expert .expert-one .business h4{
        font-size: 25px;
    }
    .container-expert .expert-one .business p{
        font-size: 25px;
    }

     /*Estilos MQ de Experiencia 2*/

    .container-expert .expert-two{
        width:560px
    }
    .expert-one, .expert-two, .expert-three{
        grid-template-columns: 30% 70%;
    }
    .container-expert .expert-two .date{
        font-size: 24px;
    }
    .container-expert .expert-two .business h4{
        font-size: 25px;
    }
    .container-expert .expert-two .business p{
        font-size: 25px;
    } 
    /*Estilos MQ de Experiencia 3*/
    .container-expert .expert-three{
        width:560px
    }
    .expert-one, .expert-two, .expert-three{
        grid-template-columns: 30% 70%;
    }
    .container-expert .expert-three .date{
        font-size: 24px;
    }
    .container-expert .expert-three .business h4{
        font-size: 25px;
    }
    .container-expert .expert-three .business p{
        font-size: 25px;
    }
}

@media screen and (max-width:320px){
    body{
        
    }
    .perfil{
        margin-right: 100px;
    }
    header .date{
        margin-left: 100px;
    }
    .contacto-continer{
        height: 270px;
    }
    .mail, .phone, .location, .linkedin, .twitter {
        display: block;
        margin-top: 26px;
    }
    .mail img, .phone img, .location img, .linkedin img, .twitter img {
        width: 25px;
        height: 25px;
    }
    .mail a, .phone a, .location a, .linkedin a, .twitter a{
        font-size: 30px;
    }
    .description{
        margin-top: 20px;
        height: 450px;
    }
    .description h2{
        margin-bottom: 10px;
    }
    .description_summary{
        font-size: 26px;
    }
    .software{
        height:350px;
    }
    .software h2{
        margin-bottom: 20px;
    }
    .software ul {
        margin: 0;
    }
    .software ul li .soft1, .soft2, .soft3, .soft4, .soft5, .soft6 {
        height: 40px;
    }

    main{
        grid-template-columns: 150% 130%;
    }
    /*Estilos MQ de Experiencia 1*/
    .container-expert .expert-one{
        width:560px
    }
    .expert-one, .expert-two, .expert-three{
        grid-template-columns: 30% 70%;
    }
    .container-expert .expert-one .date{
        font-size: 24px;
    }
    .container-expert .expert-one .business h4{
        font-size: 25px;
    }
    .container-expert .expert-one .business p{
        font-size: 25px;
    }

     /*Estilos MQ de Experiencia 2*/

    .container-expert .expert-two{
        width:560px
    }
    .expert-one, .expert-two, .expert-three{
        grid-template-columns: 30% 70%;
    }
    .container-expert .expert-two .date{
        font-size: 24px;
    }
    .container-expert .expert-two .business h4{
        font-size: 25px;
    }
    .container-expert .expert-two .business p{
        font-size: 25px;
    } 
    /*Estilos MQ de Experiencia 3*/
    .container-expert .expert-three{
        width:560px
    }
    .expert-one, .expert-two, .expert-three{
        grid-template-columns: 30% 70%;
    }
    .container-expert .expert-three .date{
        font-size: 24px;
    }
    .container-expert .expert-three .business h4{
        font-size: 25px;
    }
    .container-expert .expert-three .business p{
        font-size: 25px;
    }

}


