body{
    border: 5px solid black;
    margin: 0;
    height:1800px ;
    /*background-color: mediumaquamarine;*/
}

/*Estilos del header*/

header{
    border: 1px solid red;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
}
 .perfil {
    /*border: 1px solid blue;*/
    width: 100px;
    height: 100px;
    padding: 25px;
    display: flex;
    margin-left: 0;
    margin-right: 100px;
    padding: 0;
}
 .perfil img{
    border: 1px solid green;
    width: 250px;
    height: 250px;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 50%;

}

header .date{
    padding: 1px;
    width: 300px;
    height: 300px;
}
.date h1{
    border: 1px solid black;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 0px;
    margin-top: 0px;
}
.date h2{
    margin-top: 40px;
    margin-bottom:5px;
    border: 1px solid black;
    display: block;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.date h3{
    border: 1px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

main{
    display: grid;
    grid-template-columns: 40% 60%;
}

.description h2{
    margin-top: 20px;
    text-decoration: underline;
}

/*Division seccion de experiencia*/
.expert-one, .expert-two, .expert-three{
    display: grid;
    grid-template-columns: 20% 80%;
}

/*Division de seccion de educación*/


.education{
    display: grid;
    grid-template-rows: 50% 50%;

}

.edu-one, .edu-two{
    display: flex;
    align-content: space-around;
}




