body{
    font-family: 'Ubuntu', sans-serif;
    border: 5px solid black;
    margin: 0;
    height:1800px ;
}

/*Estilos del header*/

header{
    border: 1px solid red;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 .perfil {
   /* border: 1px solid blue;*/
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  
   
}
 .perfil img{
   /* border: 1px solid green;*/
    width: 350px;
    height: 350px;
    border-radius: 50%;

}

header .date{    
    width: 550px;
    height: 300px;
}
.date h1{
    /*border: 1px solid black;*/
    font-size: 70px;
    padding-left: 30px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.date h2{
    /*border: 1px solid black;*/
    font-size: 40px;
    padding-left: 30px;
    margin-top: 40px;
    margin-bottom:5px;

}

.date h3{
    /*border: 1px solid black;*/
    font-size: 30px;
    padding-left: 30px;
}

/*-----Fin Header-----*/

/*Estilos para main*/
main{
    display: grid;
    grid-template-columns: 40% 60%;
}
/*Estilos para la seccion de contacto redes sociales*/
.contacto-continer{
    border: 1px solid violet;
    width: 400px;
    height: 250px;
}
.contacto-continer ul, .software ul{
    margin-top: 40px;
    padding: 0;
    list-style: none;
    height: 300px;
}
/*tamaño del contenedor*/
.mail, .phone, .location, .linkedin, .twitter{
    width: 400px;
    height: 30px;
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 20px;  
    margin-top: 10px; 
}
.mail img, .phone img, .location img, .linkedin img, .twitter img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    display: flex;
    cursor: pointer;
   
}
.mail a, .phone a, .location a, .linkedin a, .twitter a{
    font-size: 18px;
    text-decoration: none;
    display: flex;
    
}

/*QUIEN SOY*/
.description{
    border: 1px solid rgb(164, 197, 46);
    width: 400px;
    height: 400px;
}
.description h2{
    border: 1px solid rgb(255, 0, 0);
    margin: 0px;
    width: auto;
    height: 70px;
    padding-left: 20px;
    font-size: 30px;
    text-decoration: underline;
    display: flex;
    align-items: center;
}
.description_summary{
    border: 1px solid rgb(7, 3, 252);
    margin: 0;
    margin-bottom: 40px;
    max-width: 400px;
    height: 280px;
    font-size: 24px;
    padding-left: 20px;
}

/*PROGRAMAS*/
/*Titulo*/
.software{
    width: 400px;
    height: 400px;
    border: 1px solid purple;
}

.software h2{
    border: 1px solid red;
    margin: 0;
    width: 380px;
    height: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.software ul li .soft1, .soft2, .soft3, .soft4, .soft5, .soft6{
    width: 400px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    
}
.software ul h3{
    margin: 0;

}


.soft1 img, .soft2 img, .soft3 img, .soft4 img, .soft5 img, .soft6 img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
    
   
}
.soft1 div,.soft2 div,.soft3 div,.soft4 div,.soft5 div,.soft6 div{
    margin: 0;
    margin-right: 20px;
}

/*Estilos Referencias*/
.ref{
    border: 1px solid rgb(61, 6, 165);
    width:400px;
    height: 200px;
    margin:0;
}

.ref h2{
    margin: 0;
    padding-left: 20px;
    align-items: center;
    width: 380px;
    height: 70px;
    display: flex;
    border: 1px solid saddlebrown;
}

.ref ul{
    margin: 0;
    padding: 0;
}
.ref ul li {
    border:1px solid red;
    margin: 0;
    margin-top: 10px;
    padding-left: 20px;
    width: 380px;
    height: 60px;
    list-style: none;
    display: block;
    
}
.ref-lang1 img h3{
    justify-content: space-around;
    
}





Division seccion de experiencia
.expert-one, .expert-two, .expert-three{
    display: grid;
    grid-template-columns: 20% 80%;
}

Division de seccion de educación


.education{
    display: grid;
    grid-template-rows: 50% 50%;

}

.edu-one, .edu-two{
    display: flex;
    align-content: space-around;
}




